@import "./utils.scss";

.showcase {
    .showcase-content {
        .header {
            width:100%;
            .about {
                .img {
                }
            }
        }
    }
}
.stack {
    .container {
      .items {
        gap: 4rem;
        .item {
          min-width: 300px;
          min-height: 500px;
          .lists {
            .list {
              min-height: 220px;
            }
          }
        }
      }
    }
  }
