@import "./utils.scss";

* {
  overflow-x: hidden;
}

.btext {
  font-size: 1.1rem;
}
.ts3 {
  font-size: 1rem;
}
.py-2 {
  padding: 1rem 0;
}
.littleHack {
  display: none;
}
.portfolioBtn {
  font-size: 0.8rem;
  margin: 1rem 0.2rem;
  border-radius: 0.6rem;
}
.showMenu {
  transform: translateX(0) !important;
}
.hideLines {
  .burger-line {
    display: none !important;
  }
  .burgerIcon {
    display: initial !important;
  }
}
.burger {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 10%;
  @media (orientation: landscape) {
    height: 15%;
  }
  width: 15%;
  background: $primary-color;
  border-bottom: 1px solid $secondary-color;
  border-left: 1px solid $secondary-color;
  .burger-line {
    z-index: 2;
    margin: 0.2rem 0;
    width: 70%;
    height: 2px;
    background: $secondary-color;
  }
  .burgerIcon {
    display: none;
    .fas {
      color: $secondary-color;
      font-size: 1.5rem;
    }
  }
}

.nav {
  transform: translateX(100%);
  transition: all 0.5s;
  top: initial;
  bottom: 0;
  height: auto;
  z-index: 1;
  border-top: 1px solid $secondary-color;
  border-left: 1px solid $secondary-color;
  border-bottom: none;
  .links {
    flex-direction: column;
    .link {
      padding: 2rem 0.5rem;
    }
  }
}
@media (orientation: portrait) and (min-width: 768px) {
  .burger {
    display: none;
  }
  .nav {
    height: 8vh;
    bottom: 0;
    top: initial;
    width: 100%;
    box-shadow: none;
    border: none;
    border-top: 1px solid $secondary-color;
    .links {
      flex-direction: initial;
    }
  }
  .footer {
    margin-bottom: 8vh;
  }
}
.showcase {
  min-height: 100vh;
  height: auto;

  .showcase-content {
    min-height: 100vh;
    padding-top: 2rem;

    .header {
      height: auto;
      h1 {
        align-self: center;
        font-size: 3rem;
      }
      width: 100%;
      .about {
        .container {
          flex-direction: column;
          .img {
            img {
              width: 50%;
            }
          }
          @media (orientation: landscape) {
            .img {
              img {
                width: 40%;
              }
            }
          }
          .intro {
            width: auto;
            .whoami {
              margin: 1rem 0;
              overflow: hidden;
              .center {
                overflow: hidden;
                .fas {
                  font-size: 1.5rem;
                }
              }
            }
            .introLinks{
              .portfolioBtnAlt{
                width:90px;
              }
            }
          }
        }
      }
    }
  }
}

.myTools{
  .content{
    width: 99vw;
  }
}
.portfolio {
  .portfolioMenu {
    .portfolioBtn{
  width: 300px;

    }
  }
  .portfolioProjects {
    padding: 0;
    padding-bottom: 4rem;
    .portfolioProject {
      min-width: 100%;
      margin: 1rem 0;
      border-radius: 0;
      min-height: 600px;
      height: auto;
      .techs {
        padding-bottom: 5rem;
      }
      @media (orientation: landscape) {
        .img {
          height: 50%;
        }
        .techs {
          padding-bottom: 5rem;
        }
      }
      .img {
        padding: 0;
        overflow: hidden;
        width: 95%;
      }
      a {
        overflow: visible;
      }
    }
  }
}

.aboutMe{
  .content{
    img{
      height: 50vh;
    }
    .aboutMeText{
      .aboutMeList{
        padding: 0;
        .listItem{
          .icon{
            margin: 0;
            padding: 2rem;
            display:flex;
            justify-content:center;
            align-items:center;
          }
          padding: 1rem 0;
        }
      }
    }
  }
}