@import "./utils.scss";

* {
  overflow-x: hidden;
}

.btext {
  font-size: 1.1rem;
}
.ts3 {
  font-size: 1rem;
}
.py-2 {
  padding: 1rem 0;
}
.littleHack {
  display: none;
}
.showMenu {
  transform: translateX(0) !important;
}
.hideLines {
  .burger-line {
    display: none !important;

  }
  .burgerIcon {
    display: initial !important

  }
}
.burger {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background: rgba($color: $tertiary-color, $alpha: 0.8);
  border-bottom-left-radius: 0.2rem;
  border-bottom: 1px solid $primary-color;
  border-left: 1px solid $primary-color;
  .burger-line {
    z-index: 2;
    width: 70%;
    height: 2px;
    background: $primary-color;
  }
  .burgerIcon {
    display: none;
    .fas {
      color: $primary-color;
      font-size: 1.5rem;
    }
  }
}
.nav {
  transform: translateX(100%);
  transition: all 0.5s;
  top: initial;
  bottom: 0;
  height: auto;
  z-index: 1;
  box-shadow: none;
  border-top: 1px solid $primary-color;
  border-left: 1px solid $primary-color;
  .links {
    flex-direction: column;
    .link {
      padding: 2rem 0.5rem;
    }
  }
}
.showcase {
  min-height: 100vh;
  height: auto;

  .showcase-content {
    min-height: 100vh;
    padding-top: 2rem;

    .header {
      height: auto;
      h1 {
        align-self: center;
        font-size: 3rem;
      }
      width: 100%;
      .about {
        flex-direction: column;

        @media (orientation: landscape) {
          .img {
            img {
              width: 40%;
            }
          }
        }

        .whoami {
          padding-top: 2rem;
          margin-top: 1rem;
          width: 90%;
          overflow: hidden;
          .center {
            overflow: hidden;
            .fas {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

.stack {
  .container {
    .items {
      grid-template-columns: 1fr;
    }
  }
}

.portfolio {
  .portfolioMenu {
    .portfolioBtn {
      font-size: 0.8rem;
      margin: 1rem 0.2rem;
      width: 300px;
      border-radius: 0.6rem;
    }
  }
  .portfolioProjects {
    padding: 0;
    padding-bottom: 4rem;
    .portfolioProject {
      min-width: 100%;
      margin: 1rem 0;
      border-radius: 0;
      @media (orientation: landscape) {
        .img {
          height: 50%;
        }
      }
      .img {
        padding: 0;
        overflow: hidden;
        width: 95%;
      }
      a {
        overflow: visible;
      }
    }
  }
}
