// $primary-color: #EBF0FF;
$primary-color: #191919;
$secondary-color: #F0F2EF;
$text-color: white;
$border-color:  rgba(117, 117, 117, 0.295);
$bp-small: 769px;
$bp-medium: 1025px;
$mqs-small: "(max-width: #{$bp-small})";
$mqs-medium: "(max-width: #{$bp-medium})";
$bp-large: 1367px;
$mqs-large: "(max-width: #{$bp-large})";
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}


.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-3 {
  padding: 0 3rem;
}


.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3 {
  padding: 3rem;

}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.center {
  text-align: center;
}

.ts1 {
  font-size: 1.1rem;
}

.ts2 {
  font-size: 1.2rem;
}

.ts3 {
  font-size: 1.3rem;
}

.btext {
  font-size: 2rem;
}